* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.section2{
width: 1400px;
height: 304px;
background: rgb(169, 174, 141);
padding-top: 70px;
padding-left: 69px;
color: rgb(246, 244, 236);}
.header-top{
  height:47px ;
  box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: rgb(179, 96, 80);
}

.top{
  color: rgb(241, 211, 185);
font-family: Roboto;
font-size: 17px;
font-weight: 400;
line-height: 27.2px;
letter-spacing: 0%;
text-align: center;
padding:10px ;
}
.header{
  height: 61px;
  background-color: azure;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.items{
  display: flex;
  gap: 32px;
  margin-top: 30px;
  margin-left: 10px;
}
.key{
 margin-left: 320px;
  
}
.link{
  color: rgb(180, 96, 77);
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}


.header{
  display: flex;
}
.accout{
  margin-top: 20px;
  color: rgb(180, 95, 77);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: 0%;
text-align: left;
}
.next{
width: 20px;
}
.header-right{
  display: flex;
  gap: 30px;
  margin-left: 470px;}

/* section */
/* Maftuna */
.bacraund {
  width: 1400px;
  height: 435px;
  background-image: url("../imeges/Frame\ \(26\).png");
}
.button {
  background-color: #b45f4d;
  color: #ffffff;
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 28.8px;
  margin:332px 600px 55px 656px; 
}
